image: hosttoday/ht-docker-dbase
services:
  - docker:dind

stages:
  - test
  - release

variables:
  CONTAINER_TEST_IMAGE: registry.gitlab.com/hosttoday/ht-docker-traffic:test
  CONTAINER_RELEASE_IMAGE: registry.gitlab.com/hosttoday/ht-docker-traffic:latest

before_script:
  - npmci prepare docker-gitlab

test:
  stage: test
  script:
    - docker version
    - docker build -t $CONTAINER_TEST_IMAGE .
  only:
    - master
  tags:
    - dockerbuild

release:
  stage: release
  script:
    - docker version
    - docker build -t $CONTAINER_RELEASE_IMAGE .
    - docker push $CONTAINER_RELEASE_IMAGE
  only:
    - master
  tags:
    - dockerbuild